In [1]:
import pandas as pd

In [3]:
#Creating a data frame
import pandas as pd

# From a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)
print()

# From a list of lists
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [1]:
#Reading and writing in CSV or XLSX file
import pandas as pd

# Reading from a CSV file
df = pd.read_csv('data.csv')
print(df)
print()

# Writing to a CSV file
df.to_csv('output.csv', index=False)#index in dataframe is the number assign to each row starting from 0

# Reading from an Excel file
df = pd.read_excel('data.xlsx')
print(df)

# Writing to an Excel file
df.to_excel('output.xlsx', index=False)

        name  roll  usn  marks
0      yahya    14   76     99
1  badruddin     5   67    100

    name  class  roll
0  yahya     13    14

In [4]:
#Viewing data
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
})

# View the first 5 rows
print(df.head())

# View the last 5 rows
print(df.tail())

# View a specific number of rows
print(df.head(3))
print(df.tail(3))

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eve   45      Phoenix
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eve   45      Phoenix
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston
4      Eve   45  Phoenix

In [5]:
#Selecting column
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Select a single column
print(df['Name'])

# Select multiple columns
print(df[['Name', 'City']])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [2]:
#Filtering rows
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Filter rows based on a condition
print(type(df["Age"]))
print(df[df['Age'] > 30])#first of all the df['Age'] > 30 become True or False based on condition and then print function print only that rows in which age is True

# Filter rows based on multiple conditions
print(df[(df['Age'] > 25) & (df['City'] == 'Los Angeles')])

<class 'pandas.core.series.Series'>
      Name  Age     City
2  Charlie   35  Chicago
  Name  Age         City
1  Bob   30  Los Angeles

In [7]:
#Adding and dropping columns
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Add a new column
df['Country'] = 'USA'
print(df)

# Drop a column
df = df.drop(columns=['City'])
print(df)

      Name  Age         City Country
0    Alice   25     New York     USA
1      Bob   30  Los Angeles     USA
2  Charlie   35      Chicago     USA
      Name  Age Country
0    Alice   25     USA
1      Bob   30     USA
2  Charlie   35     USA

In [8]:
#NOT UNDERSTAND
#Grouping and aggrigating data
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 30, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Los Angeles', 'Phoenix']
})

# Group by a column and calculate the mean of another column
grouped = df.groupby('City')['Age'].mean()
print(grouped)

# Group by multiple columns and calculate multiple aggregates
grouped = df.groupby(['City']).agg({
    'Age': ['mean', 'max', 'min']
})
print(grouped)

City
Chicago        35.0
Los Angeles    30.0
New York       25.0
Phoenix        45.0
Name: Age, dtype: float64
              Age
             mean max min
City
Chicago      35.0  35  35
Los Angeles  30.0  30  30
New York     25.0  25  25
Phoenix      45.0  45  45

In [10]:
#Handling missing data
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, np.nan, 35],#[nan] means not a number
    'City': ['New York', 'Los Angeles', np.nan]
})

# # Fill missing values
# df['Age'] = df['Age'].fillna(df['Age'].mean())#[na] means not avilable
# df['City'] = df['City'].fillna('Unknown')
# print(df)

# Drop rows with missing values
df = df.dropna()
print(df)

      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0      Unknown
      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0      Unknown

In [1]:
#Merging data frames
import pandas as pd

df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

# Merge DataFrames
merged = pd.merge(df1, df2, on='Name')
print(merged)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago